
body .post .fb-share-button {
    margin: 0 0 10px 15px;
}

.fb-share-button {
    height: 100%;
    margin: 0 0 10px 0px;
    display: block;
    padding-bottom: 10px;

    span {
        padding: 8px 0;
    }
}
