.totalValue {
    font-size: 26px;
}

.totalTimeContainer {
    margin: 10px;
    padding: 10px;
    font-size: 0.8em;
}

.generic {
    .gateProgressionContainer {
        width: 26%;
        float: left;
        margin: 0 10px 0 10px;
    }

    .gatePoints {
        padding: 0px;
    }
}

.gateProgressionContainer {
    .buttonControlTextPlus,
    .buttonControlTextMinus {
        width: 35px;
        height: 35px;
    }
}

.gatesContainer {
    margin: 10px;
    padding: 10px;
    font-size: 0.8em;
}

.player {
    padding-bottom: 10px;
}

.pointsText {
    display: inline-block;
}

.fiascoBox {
    font-size: 17px;
    width: 65px;
    padding: 10px;
    float: left;
    margin: 10px;
}

.fiascoBox .importantNote {
    margin-bottom: 15px;
}

.info {
    font-size: 0.8em;
}

.controlTextContainer {
    .timerContainer {
        float: none;
        margin: 0 auto;
    }
}