.timerContainer {
    width: auto;
    float: none;
}

.totalValue {
    font-size: 26px;
}

.totalTimeContainer {
    margin: 10px;
    padding: 10px;
    font-size: 0.8em;
}

.gatesContainer {
    margin: 10px;
    padding: 10px;
    font-size: 0.8em;
}

.player {
    padding-bottom: 10px;
}

.pointsText {
    height: 36px;
    padding: 17px;
    display: inline-block;
}

.fiascoBox {
    font-size: 17px;
    width: 65px;
    padding: 10px;
    float: left;
    margin: 10px;
}

.fiascoBox .importantNote {
    margin-bottom: 15px;
}

.rc-slider {
    width: 80%;
    margin: 15px auto;
}