.timerContainer {
    margin: 10px;
    padding: 10px;
    font-size: 0.8em;
}

.timer {
    font-size: 26px;
}

.totalValue {
    font-size: 26px;
}

.totalTimeContainer {
    margin: 10px;
    padding: 10px;
    font-size: 0.8em;
}

.gatesContainer {
    margin: 10px;
    padding: 10px;
    font-size: 0.8em;
}

.player {
    padding-bottom: 10px;
}

.fiascoBox {
    font-size: 17px;
    margin: 0 auto;
    width: 66%;
    padding: 10px;
}

.fiascoBox .importantNote {
    margin-bottom: 15px;
}

.rc-slider {
    width: 80%;
    margin: 15px auto;
}