.routesManagementCreation {
    input, textarea, select {
        margin: 15px auto;
        max-width: none;
    }

    label {
        margin-top: 25px;
        display: block;
    }

    .center {
        width: 98%;
        margin: 0 auto;
    }

    .routeName, .routeDescription, .routeScale, .routeDifficulty,
    .routePoint, .youtubeVideo {
        margin-bottom: 25px;
        input, textarea, select {
            width: 97%;
        }
    }

    .routeIsPublic {
        margin-bottom: 25px;
    }

    .routeMap {
        margin-bottom: 25px;
        text-align: center;
        label {
            margin-bottom: 10px;
            display: block;
        }
        button {
            margin: 15px;
        }
    }

    .endButtons {
        margin-bottom: 25px;
        text-align: center;
    }
}
