.App {
  text-align: center;
}

.AppMainContainer {
  width: 85%;
  margin: 0px auto;
  height: 100%;
  max-width: 430px;
  min-width: 277px;
  padding-top: 85px;
}

.App-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  height: 55px;
  font-weight: bold;
  background-color: #241e1f;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}

.App-header img {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  margin: 11px 8px 10px 0;
}

.rounded button {
  background-color: transparent;
}

.headerText {
  padding: 10px;
  height: 40px;
  line-height: 40px;
}

.App-link {
  color: #61dafb;
}

.rounded {
  border-radius: 15px;
  box-shadow: 5px 5px 5px #222;
  padding: 10px;
}

.rounded1 {
  background-color: #ffa602;
  background-image: linear-gradient(#112031, #152D35);
}
.rounded2 {
  background-image: linear-gradient(#345B63, #112031);
}

.rounded3 {
  background-image: linear-gradient(#112031, #345B63);
}

.headerPlayer {
  padding: 10px;
}

.importantNote {
  background-image: linear-gradient(#ffa602, #ea7402);
}

.importantNote img {
  width: 32px;
  vertical-align: middle;
  border-radius: 8px;
  padding: 5px 0px;
  float:left;
}

.controlTextContainer {
  margin: 10px;
  padding: 10px;
}

.controlTextText {
  margin: 0 5px;
} 

.winnerBox {
  padding: 15px;
  margin-bottom: 25px;
}

.winnerBox .headerPlayer {
  margin-bottom: 15px;
}

.pointsTable {
  margin-bottom: 25px;
}
