.App {
  text-align: center;
}

.AppMainContainer {
  width: 95%;
  margin: 0px auto;
  height: 100%;
  max-width: 430px;
  min-width: 277px;
  padding-top: 85px;
}

.smallText {
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
  text-align: justify;
}

.headerText {
  padding: 10px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.rounded {
  border-radius: 15px;
  box-shadow: 5px 5px 5px #222;
  padding: 10px;

  button {
    background-color: transparent;
  }
}

.rounded1 {
  background-color: #ffa602;
  background-image: linear-gradient(#112031, #152D35);
}
.rounded2 {
  background-image: linear-gradient(#345B63, #112031);
}

.rounded3 {
  background-image: linear-gradient(#112031, #345B63);
}

.headerPlayer {
  padding: 10px;
}

.importantNote {
  background-image: linear-gradient(#ffa602, #ea7402);
  
  img {
    width: 32px;
    vertical-align: middle;
    border-radius: 8px;
    padding: 5px 0px;
    float:left;
  }
}

.controlTextContainer {
  margin: 10px;
  padding: 10px;
}

.controlTextText {
  margin: 0 5px;
} 

.winnerBox {
  padding: 15px;
  margin-bottom: 25px;

  .headerPlayer {
    margin-bottom: 15px;
  }
}

.closed {
  height: 25px;
  box-shadow: none;
}