#root  {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.AppMainContainer {
  width: 95%;
  margin: 0px auto;
  height: 100%;
  max-width: 430px;
  min-width: 277px;
  padding-top: 65px;
}

@media only screen and (min-width : 600px) { 
  .AppMainContainer {
    max-width: 630px;
  }
}

.smallText {
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
}

.formError {
  color: red;
  font-size: 0.8em;
}

.centerText {
  text-align: center;
}

.headerText {
  padding: 6px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.sectionTitle {
  text-shadow: 5px 5px 5px #222;
}

.App-link {
  color: #61dafb;
}

.rounded {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 10px;

  button {
    background-color: transparent;
  }
}

body.lightMode {

  input.hidenInput, textarea.hidenInput, .bold, select {
    color: black;
  }

  .controlTextValues:nth-of-type(odd) {
    background-color: #A0BCC2;
  }

  .resultsContainer {
    background-image: linear-gradient(#b6ac91, #8c8a7f);
  }

  .rounded.colorGrey {
    color: white;
  }

  .gameList .gameListPoints,
  .gameList .gameListPosition {
    background-color: #A0BCC2;
  }

  .rounded {
    color: black;
  }
  .rounded.controlTextTitle {
    background-image: linear-gradient(#FEFBE7, #405662);
  }
  .rounded1 {
    background-image: linear-gradient(#F9EBC8, #FEFBE7);
  }
  .rounded2 {
    background-image: linear-gradient(#FEFBE7, #FEFBE7);
  }
  
  .rounded3 {
    background-image: linear-gradient(#FEFBE7, #A0BCC2);
  }

  .rounded button {
    background-color: #405662;
  }

  .linksContainer {
    color: #FEFBE7;
  }
  
}

.rounded1 {
  background-image: linear-gradient(#112031, #152D35);
}
.rounded2 {
  background-image: linear-gradient(#345B63, #112031);
}

.rounded3 {
  //background-image: linear-gradient(#112031, #345B63);
  background-color: #345B63;
}

.headerPlayer {
  padding: 10px;
}

.importantNote {
  background-image: linear-gradient(#ffa602, #ea7402);
  
  img {
    width: 32px;
    vertical-align: middle;
    border-radius: 8px;
    padding: 5px 0px;
    float:left;
  }
}

.controlTextContainer {
  margin: 10px auto;
  padding: 10px;
}

.controlTextText {
  margin: 0 5px;
} 

.winnerBox {
  padding: 15px;
  margin-bottom: 8px;

  .headerPlayer {
    margin-bottom: 15px;
  }
}

.notLoggedLogo {
  width: 125px;
  margin-bottom: 40px;
}

.closed {
  height: 26px;
  box-shadow: none;
}

.horizontalScrollContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 14px;
    border: solid 1px #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

::-webkit-scrollbar {
  background: transparent; 
}