body {
  background-color: #333;
  color: #fcf7ff;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 21px;
}

.bold {
  font-weight: bold;
}

button, select, input {
  margin: 5px;
  border-radius: 15px;
  font-size: 21px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

select {
  padding: 10px;
  width: 85%;
}

button {
  padding: 10px;
  margin: 5px;

  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  /*background-image: linear-gradient(#afafaf, #375d8d);*/
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  justify-content: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
}

input {
  background-color: white;
  color: black;
  max-width: 195px;
  font-size: 17px;
  padding: 5px;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-align: right; 
}