
.rounded button {
    background-color: transparent;
}

.headerText {
    padding: 10px;
    height: 40px;
    line-height: 40px;
}

.App-link {
    color: #61dafb;
}

.timerContainer {
    background-color: #ffa602;
    margin: 10px;
    padding: 10px;
}

.timer {
    font-size: 26px;
}

.totalValue {
    font-size: 26px;
}

.totalTimeContainer {
    background-color: #ea7402;
    margin: 10px;
    padding: 10px;
}

.controlText {
    font-size: 14px;
    display: flex;
    line-height: 40px;
}

.importantNote {
    background-image: linear-gradient(#ffa602, #ea7402);
}

.timerPlayButton,
.timerStopButton {
    /*margin: 5px;
    padding: 6px;*/
}

.gameType,
.players {
    margin-bottom: 25px;
}

.players {
    padding-bottom: 15px;
}

.playersList {
    margin: 10px;
    padding: 0;
}

.playerListItem {
    margin-bottom: 10px;
    line-height: 42px;
    text-align: right;
    padding-right: 10px;
}

.controlTextContainerQueue {
    background-color: #ffa602;
    border-radius: 15px;
    margin: 10px;
    font-size: 15px;
    padding: 5px;
}

.importantNote img {
    width: 32px;
    vertical-align: middle;
    border-radius: 8px;
    padding: 5px 0px;
    float:left;
}

.controlTextContainerInfo {
    background-color: #ea7402;
    border-radius: 15px;
}

.controlTextContainer {
    margin: 10px;
    padding: 10px;
}
.controlTextText {
    margin: 0 5px;
} 

.controlTextValue {
    
}

.buttonControlTextPlus, 
.buttonControlTextMinus {
    text-shadow: 2px 2px 4px #333;
    font-size: 12px;
}

.winnerBox {
    padding: 15px;
    margin-bottom: 25px;
}

.winnerBox .headerPlayer {
    margin-bottom: 15px;
}

.pointsTable {
    margin-bottom: 25px;
}

.headerPlayer {
    padding: 10px;
}

.player {
    padding-bottom: 10px;
}

.gameSelectText {
    line-height: 1.5;
    font-size: 16px;
    padding: 25px;
    text-align: left;
    margin-bottom: 15px;
    text-align: justify;
}

.maxTimeSelectorForGame {
    
}

.fiascoBox {
    font-size: 17px;
    margin: 10px;
    padding: 10px;
}

.fiascoBox .importantNote {
    margin-bottom: 15px;
}