.controlText {
    font-size: 14px;
    display: flex;
    line-height: 40px;
    text-align: left;
    background-color: rgb(30 30 30 / 32%);
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 5px;
}

.controlTextValue {
    background-color: inherit;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 15px;
}

.controlTextText {
    min-width: 153px;
    padding: 10px 0;
}

.controlTextTitle {
    margin: 0px 0px 10px 0px;
    font-size: 0.8em;
}

.controlTextContainer {
    overflow: hidden;

    .dropdown {
        width: 20px;
        margin: 0;
        float: right;
    }
    .closed {
        height: 35px;
    }
}

.buttonControlTextPlus, 
.buttonControlTextMinus {
    text-shadow: 2px 2px 4px #333;
    font-size: 12px;
}