.controlText {
    font-size: 14px;
    display: flex;
    line-height: 40px;
}

.controlTextContainer {
    overflow: hidden;

    .dropdown {
        width: 20px;
        margin: 0;
        float: right;
    }
    .closed {
        height: 75px;
    }
}

.buttonControlTextPlus, 
.buttonControlTextMinus {
    text-shadow: 2px 2px 4px #333;
    font-size: 12px;
}