.zoneItem{
    padding: 10px;
    margin-bottom: 10px;
}

.rounded.colorGreen {
    background-image: none;
    background-color: Green;
    margin: 0 8px;
}

.rounded.colorGrey {
    background-image: none;
    background-color: #333;
    margin: 0 8px;
}

.gameProgressionItem {
    padding: 15px;
}