.gameList {
    margin-bottom: 15px;
    width: 95%;
    text-align: right;

    .gameContainer {
        font-size: 0.9em;
        margin-bottom: 15px;
        text-align: right;
        padding-top: 0px;
        overflow: hidden;
    }

    .gameName {
        width: 80%;
        padding-top: 6px;
    }

    .gameDate {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .removeButton {
        width: 25px;
        height: 25px;
    }

    .gameParticipants {
        padding-top: 15px;
        font-size: 0.8em;
        max-width: 305px;
        margin: 0 auto;

        table {
            margin: auto;
        }
    }

    .gameListPosition {
        overflow:hidden;
        background-color: #345C62;
    }

    .gameListPlayerName {
        display: block;
        width: 120px;
        padding: 0 5px;
    }

    .resultTitle {
        padding-bottom: 5px;
    }

    .gameListPlayerName.withTime {

    }

    .gameListPoints {
        overflow:hidden;
        min-width: 25px;
        background-color: #345C62;
    }

    .gameListTime {
        overflow:hidden;
        min-width: 45px;
        padding: 0 5px;
    }

    .gameListTextArray {
        margin-top: 15px;
    }

    .winnerBox .headerPlayer img {
        position: relative;
        top: 5px;
        margin-right: 5px;
    }
}