.gameList .gameListItemMenu {
    background-color: #222;
    position: absolute;
    padding-top: 3px;
    left: 14px;
    width: 170px;
    height: 81px;
    text-align: right;
    margin: 5px 0 0 0;
    overflow: hidden;
    z-index: 10;

    .burguerMenuBar {
        width: 15px;
        height: 2px;
        margin: 4px 0;
    }
}
.gameListItemMenu.closed {
    width: 14px;
    height: 12px;
    background-color: #333;
    z-index: 1;
}

.gameContainer .gameListItemMenu {
    padding: 5px;
}