.gameProgressionItem {
    padding: 15px;
    font-size: 0.8em;
    display: flex;
    margin-bottom: 10px;

    img {
        width: 32px;
    }
    .rounded {
        background-image: none;
        margin: 8px;
        line-height: 2.9;
        box-shadow: none;
    }
    
    .rounded.colorGreen {
        background-color: Green;
    }
    .rounded.colorGrey {
        background-color: #333;
    }
    .rounded.colorClearGrey {
        background-color: #666;
    }    
}