.playerListItem.closed {
    width: auto;
    height: 45px;
    overflow: hidden;
}

.pickerContainer.handicapBox {
    margin: 5px;
    padding: 25px;
}

.playerBox {
    div {
        max-width: 190px;
        display: inline-block;
    }    

    button {
        float: right;
    }
}

.handicapBox .handicapLabel {
    width: 50%;
    text-align: center;
    line-height: 6;
}

.textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playersList .buttonControlTextMinus {
    position: relative;
    top: -15px;
}