.playerListItem.closed {
    width: auto;
    height: 45px;
    overflow: hidden;
}

.pickerContainer.handicapBox {
    margin: 5px;
    padding: 25px;
}

.handicapBox .handicapLabel {
    width: 50%;
    text-align: center;
    line-height: 6;
}