.popup {
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100000;
    height: 90%;
    border: 2px solid black;
    overflow: scroll;
    transition: heigth 0.7s linear;
    width: 97%;
    max-width: 412px;
    overscroll-behavior: contain;
}

.closeButton {
    width: 25px;
    height: 25px;
    font-size: 0.8em;
    position: absolute;
    top: 5px;
    background-color: #333;
    z-index: 200000;
    right: 5px;
    border-radius: 8px;
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup.closed {
    height: 25px;
    //display: none;
}
