.popup {
    position: fixed;
    top: 11px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100000;
    height: 97%;
    border: 2px solid #000;
    overflow: scroll;
    transition: heigth .7s linear;
    width: 97%;
    max-width: 412px;
    overscroll-behavior: contain;
}

.closeButton {
    width: 30px;
    height: 30px;
    position: sticky;
    top: 6px;
    background-color: #333;
    z-index: 200000;
    left: 90%;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup.closed {
    height: 25px;
    display: none;
}
