.post .gameContainer {
    color: white;
    margin-top: 15px;
}

.post .postGameContainer {
    text-align: center;

    .getGameName, .gameName {
        margin: 15px 0;
    }

    .gameName {
        width: 70%;
    }
    
    .gameAssigned {
        margin-top: 15px;
    }
    
    .postGame {
        margin: 15px 0;
    }
    
    .gameName {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}
