.userViewer {
    .statistics, .posts {
        margin-bottom: 25px;
    }
    .statistics {
        width: 94%;
        background-image: url(../img/pilotbackground.png), linear-gradient(#345B63, #112031);
        background-position-x: center;
        background-repeat: no-repeat;
        padding-bottom: 35px;
    }

    .removePostButton {
        float: right;
    }

    .post {
        font-size: 0.8em;
        margin-bottom: 25px;
        width: 95%;
        overflow: hidden;
        background-color: #EEE;
        color: black;
        text-align: left;
    }

    .submit {
        border: 0px;
        color: white;
    }

    .postText {
        margin: 25px 0;
    }
    .postDate {
        margin: 10px 0 15px 0;
        font-size: 0.8em;
    }

    .postGame {
        margin-bottom: 15px;
    }

    .postText, .postDate, .postGame {
        padding: 0 10px;
        text-align: justify;
    }

    .postUrlContent {
        margin-bottom: 15px;
    }

    .postForm-form {

    }
}

.userViewerLogo {
    width: 125px;
    margin-bottom: 52px;
}

.sharerContainer {
    margin-bottom: 14px;;
}