.userViewer {
    .statistics, .posts {
        font-size: 0.8em;
        margin-bottom: 25px;
        width: 94%;
    }

    .removePostButton {
        float: right;
    }

    .post {
        margin-bottom: 25px;
        width: 95%;
        overflow: hidden;
        text-align: left;
    }

    .submit {
        border: 0px;
        color: white;
    }

    .postDate {
        margin-bottom: 15px;
        
    }

    .postText {
        margin-bottom: 15px;
        
    }

    .postUrlContent {
        margin-bottom: 15px;
    }

    .postForm {

    }
}

.sharerContainer {
    .fb-share-button {
        height: 100%;
        margin: 10px 0;
        display: block;
    }

    .twitter-share-button {
        height: 100%;
        display: block;
        margin: 0 auto 10px auto;
    }
}

.userViewerLogo {
    width: 125px;
    margin-bottom: 52px;
}