.userProfileContainer {
    text-align: right;
    display: inline-block;
    margin-bottom: 25px;
    width: 94%;
    font-size: 0.8em;

    .headerText {
        text-align: center;
    }

    .userProfileInlineContainer {
        float: right;
        width: 65%;
    }

    .name {
        max-width: 218px;
    }

    .photo {
        float: left;
        width: 25%;
    }

    .description {
        float: left;
        width: 100%;
    }
}