.userViewer {
    .userProfileContainer {
        background-image: url(../img/pilotbackground.png), linear-gradient(#345B63, #112031);
        background-attachment: fixed;
        background-position: center;
        background-position-y: top;
        background-position-x: right;
        background-repeat: no-repeat;
        background-size: contain;
    }    
}

.userProfileContainer {
    text-align: right;
    display: inline-block;
    margin-bottom: 25px;
    width: 94%;
    font-size: 0.8em;

    .headerText {
        text-align: center;
    }

    .userProfilePhotoContainer {
        float: left;
        width: 25%;

        img {
            margin: 0 auto;
            width: 100%;
            border-radius: 15px;
        }
    }

    .userProfileInlineContainer {
        float: right;
        width: 73%;
        .name {
            margin: 5px 0;
        }

        input, textarea {
            text-align: right;
            width: 100%;
            margin: 0;
            padding: 0;
            resize: none;
        }
    }

    .description {
        float: left;
        width: 100%;
    }

    .hidenInput {
        font-family: Montserrat, Roboto, sans-serif;
        color: #fcf7ff;
        background-color: transparent;
        border: none;
    }

    .userProfileHelper {
        font-size: 0.7em;
    }
}