
.winnerBox {
    .fiasco {
        margin-bottom: 4px;
        img {
            width: auto;
            padding: 0 5px;
        }
    } 
    
    .pointsTable {
        margin-bottom: 25px;
        text-align: right;
    }
}

