.App-header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index:  10000;
    height: 56px;
    background-color: #241e1f;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
    transform: translateY(0px);
    transition: transform 0.5s ease-in-out;

    .MenuLogo {
      position: fixed;
      top: 0px;
      right: 0px;
      width: 60px;
      margin: 5px 8px 10px 0;
    }

    .userProfilePhotoContainer {
        .photo {
            border-radius: 50px;
        }
    }
}

.menuContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 2px;
    padding: 5px;
    z-index: 10;
    border-radius: 7px;
    overflow: hidden;
    transition: width 0.2s;
    min-height: 420px;
}

.burguerMenuBar:first-of-type {
    margin-top: 10px;
}

.burguerMenuBar:last-of-type {
    margin-bottom: 15px;
}

.burguerMenuBar {
    width: 25px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 4px;
}

.open {
    width: 90%;
    max-width: 437px;
    padding-bottom: 25px;
    background-color: #333;
    font-size: 0.8em;
}
.menuContainer.closed {
    width: 35px;
    min-height: 40px;
}

.box:hover {
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}

.linksContainer {
    .menuUserDisplayName {
        font-size: 1.2em;
        margin-top: 15px;
        font-weight: bold;
    }
    ul {
        margin: 35px 25px;
        li {
            overflow: hidden;
        }
    }
}

.lightModeSwitch {
    position: absolute;
    bottom: 15px;
    right: 32px;
}
