.postForm {
    margin-bottom: 25px;
}

.postForm .headerText:after {
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background: url('../../../resources/img/arrowup.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.postForm.closed .headerText:after {
    background: url('../../../resources/img/arrowDown.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.postForm.closed {
    padding-bottom: 30px;
    overflow: hidden;
}

.postForm-help {
    font-size: 0.6em;
}

.postForm-label {
    font-size: 0.8em;

    input {
        height: 15px;
    }

    textarea {
        height: 50px;
        max-width: 250px;
    }

    input, textarea {
        margin-left: 15px;
    }
}