.pickerContainer {
    display: flex;
    font-size: 18px;
    padding: 15px;
    margin: 15px;
}

.maxTimePickerContainer--separator {
    max-width: 40px;
    height: 112px;
    line-height: 112px;
}
